################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.idea
/.vs
/.vs/torchcsharp/CopilotIndices/17.12.38.29086/CodeChunks.db
